<h2>From Bern</h2>
<div class="container">
  <div class="entry" *ngIf="busListFromBern">
    <div class="row">
      <h3>Bus</h3>
    </div>
    <div class="row" *ngFor="let element of busListFromBern">
      <ul class="list-group">
        <li class="list-group-item">From: {{element.from}} @ {{element.fromTime | date:'shortTime'}}</li>
        <li class="list-group-item">To: {{element.to}} @ {{element.toTime | date:'shortTime'}}</li>
      </ul>
    </div>
  </div>
  <div class="entry" *ngIf="tramListFromBern">
    <div class="row">
      <h3>Tram</h3>
    </div>
    <div class="row" *ngFor="let element of tramListFromBern">
      <ul class="list-group">
        <li class="list-group-item">From: {{element.from}} @ {{element.fromTime | date:'shortTime'}}</li>
        <li class="list-group-item">To: {{element.to}} @ {{element.toTime | date:'shortTime'}}</li>
      </ul>
    </div>
  </div>
  <div class="entry" *ngIf="trainListFromBern">
    <div class="row">
      <h3>Train</h3>
    </div>
    <div class="row" *ngFor="let element of trainListFromBern">
      <ul class="list-group">
        <li class="list-group-item">From: {{element.from}} @ {{element.fromTime | date:'shortTime'}}</li>
        <li class="list-group-item">To: {{element.to}} @ {{element.toTime | date:'shortTime'}}</li>
      </ul>
    </div>
  </div>
</div>
<h2>From Home</h2>
<div class="container">
  <div class="entry" *ngIf="busListFromHome">
    <div class="row">
      <h3>Bus</h3>
    </div>
    <div class="row" *ngFor="let element of busListFromHome">
      <ul class="list-group">
        <li class="list-group-item">From: {{element.from}} @ {{element.fromTime | date:'shortTime'}}</li>
        <li class="list-group-item">To: {{element.to}} @ {{element.toTime | date:'shortTime'}}</li>
      </ul>
    </div>
  </div>
  <div class="entry" *ngIf="tramListFromHome">
    <div class="row">
      <h3>Tram</h3>
    </div>
    <div class="row" *ngFor="let element of tramListFromHome">
      <ul class="list-group">
        <li class="list-group-item">From: {{element.from}} @ {{element.fromTime | date:'shortTime'}}</li>
        <li class="list-group-item">To: {{element.to}} @ {{element.toTime | date:'shortTime'}}</li>
      </ul>
    </div>
  </div>
  <div class="entry" *ngIf="trainListFromHome">
    <div class="row">
      <h3>Train</h3>
    </div>
    <div class="row" *ngFor="let element of trainListFromHome">
      <ul class="list-group">
        <li class="list-group-item">From: {{element.from}} @ {{element.fromTime | date:'shortTime'}}</li>
        <li class="list-group-item">To: {{element.to}} @ {{element.toTime | date:'shortTime'}}</li>
      </ul>
    </div>
  </div>
</div>
